
.containerMenu {
    display: inline-block;
    background-color: #868686;
    width: 1216px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
}

.menuOpcoes {
    display: flex;
    background-color: #615D5D;
    width: 1216px;
    height: 100px;
    justify-content: flex-end; 
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.opcoes {
    background-color: orange;
    width: 245px;
    height: 39px;
    text-align: center;
    line-height: 5px;
    font-size: small;
    box-sizing: border-box;
}