.containerMusic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1216px;
    height: 316px;
    box-sizing: border-box;
    text-align: center;
    gap: 32px;
}

.listaMusic {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 240px;
    height: 240px;
    box-sizing: border-box;
    text-align: center; 
    color: white; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 32px; 
    border: 1px solid white;
}

.botao-imagem {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.botao-imagem img {
    display: block;
    width: 50px;
    height: auto;
}

.musica {
    margin-bottom: 16px; 
}

.observacao {
    position: absolute;
    bottom: 8px;
    left: 40px;
    font-size: 10px;
}


.music-1 {
    background-image: url('./assets/imgesm.png'); /* Caminho para a imagem da Música 1 */
}

.music-2 {
    background-image: url('./assets/imgesm.png'); /* Caminho para a imagem da Música 2 */
}

.music-3 {
    background-image: url('./assets/imgesm.png'); /* Caminho para a imagem da Música 3 */
}