.containerIntro {
    position: relative;
    display: inline-block;
    background-color: #868686;
    width: 1216px;
    height: 295px;
}

.introNome {
    display: flex;
    background-color: orange;
    width: 800px;
    height: 40px;
    align-items: center; 
    justify-content: center; 
    margin-top: 40px;
}

.introBio {
    position: absolute;
    display: flex;
    background-color: green;
    width: 500px;
    height: 150px;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    top: calc(50% + 20px);  /* Ajusta a posição vertical da introBio para garantir a distância de 16px */
    left: 50%;
    transform: translate(-50%, -50%);
}
